{% extends 'core/base.html' %}

{% block titulo %}
    Empresas
{% endblock titulo %}

{% block contenido %} 
       <div>
        <a href="{% url 'Empresa:empresa_list' %}">Listar empresas</a>
       </div>
       <div>
        <a href="{% url 'Empresa:empresa_create' %}">Ingresar empresas</a>
       </div>
 
       <form action="{% url 'core:logout' %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-dark">Logout</button>
        </form>
 
{% endblock contenido %}
