{% extends 'core/base.html' %}
{% load static %}

{% block titulo %}
    Pagina Inicial
{% endblock titulo %}

{% block contenido %} 
    <div>
        
    {% if mensaje %}
        <p class="text-info ">{{ mensaje }} ¡Bienvenido {{ user.username }} !</p>
    {% endif %}

    
      


    <!-- Header-->
    <header class="py-5">
        <div class="container px-lg-5">
            <div class="p-4 p-lg-5 bg-light rounded-3 text-center">
                <div class="m-4 m-lg-5">
                    <h1 class="display-5 fw-bold">A warm welcome!</h1>
                    <img src={% static 'core/img/Imagen2.png' %} width="700px" >
                  
                    <!-- <img src="https://s.yimg.com/uu/api/res/1.2/U2e.mK8KzsTsJhLmodSHXg--~B/Zmk9c3RyaW07aD0zMjY7dz01ODA7YXBwaWQ9eXRhY2h5b24-/https://s.yimg.com/os/creatr-uploaded-images/2024-06/668d2ab0-2417-11ef-a75f-cbe00d77a8fa.cf.webp" alt="">  -->
                    
                    <p class="fs-4">Invest!</p>
                    <a class="btn btn-primary btn-lg" href="#!">Call to action</a>
                </div>
            </div>
        </div>
    </header>
    <!-- Page Content-->
    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">

                {% include 'core/components/card.html' with titulo="Graficos!" texto="charts de acciones"%}
                {% include 'core/components/card.html' with titulo="Indicadores!" texto="lista de indicadores"%}
                {% include 'core/components/card.html' with titulo="Alertas!" texto="alertas activas"%}

            </div>
        </div>
    </section>

    
    </div>

{% endblock contenido %}
