{% extends 'core/base.html' %}

{% block titulo %}
    Pagina Inicial
{% endblock titulo %}

{% block contenido %} 
    <div>
        {% if user.is_authenticated %}
        <p class="text-info ">¡Bienvenido {{ user.username | title }}!</p>
  
        <li class="nav-item">
            <a href="{% url 'Empresa:index' %}">Mostrar Empresas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-bg-info">Logueado como: {{ user.username }}</a>
        </li>
        <li class="nav-item">
            <form action="{% url 'core:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-dark">Logout</button>
            </form>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:login' %}">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:register' %}">Crear cuenta</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'core:acercade' %}">Acerca de...</a>
        </li>

    {% endif %}
    {% if mensaje %}
        <p class="text-info ">{{ mensaje }} ¡Bienvenido {{ user.username }} !</p>
    {% endif %}

    
    </div>   
{% endblock contenido %}
